html {
    scroll-behavior: smooth;
}

/* 設定頁面和容器的樣式 */
body, html {
    height: 100%;
    margin: 0;
    padding: 1%; /* 保留1%的邊界留白 */
    overflow: hidden; /* 隱藏溢出的內容 */
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Arial', sans-serif;
    color: #333;
}

#container {
    height: 100%;
    overflow-y: scroll; /* 允許垂直滾動 */
    scroll-snap-type: y mandatory; /* 強制垂直滾動對齊 */
}

.page {
    height: 99vh; /* 每頁高度為視窗高度的99%，考慮到1%的邊界留白 */
    display: flex;
    flex-direction: row;
    scroll-snap-align: start; /* 滾動時對齊 */
}

#charts {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

#park-chart, #neighborhood-park-chart {
    width: 100%;
    margin: 10px 0;
}

#map {
    flex: 2;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#park-list {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* 響應式設計 */
@media (max-width: 768px) {
    #container {
        overflow-y: hidden; /* 隱藏溢出的內容 */
    }

    .page {
        flex-direction: column;
        height: 100vh; /* 每頁高度為視窗高度 */
    }

    #page1 {
        display: flex;
        flex-direction: column;
        scroll-snap-type: y mandatory; /* 強制垂直滾動對齊 */
        overflow-y: scroll; /* 允許垂直滾動 */
    }

    #charts {
        display: flex;
        flex-direction: row; /* 圓餅圖橫向排列 */
        width: 100%;
        height: 50vh; /* 圓餅圖佔滿上半部分 */
        scroll-snap-align: start; /* 滾動時對齊 */
    }

    #park-chart, #neighborhood-park-chart {
        display: flex;
        flex-direction: column; /* 圖表與圖例上下排列 */
        width: 50%; /* 每個圓餅圖佔一半寬度 */
        height: 100%; /* 高度佔滿 */
    }

    #map {
        width: 100%;
        height: 50vh; /* 地圖佔滿下半部分 */
        scroll-snap-align: start; /* 滾動時對齊 */
    }

    #page2 {
        display: flex;
        flex-direction: column;
        scroll-snap-type: y mandatory; /* 強制垂直滾動對齊 */
        overflow-y: scroll; /* 允許垂直滾動 */
    }
}

/* 設定箭頭圖示的樣式 */
.scroll-arrow {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 1em;
    color: white;
    text-decoration: none;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s;
}

.scroll-arrow:hover {
    background-color: #0056b3;
}

.scroll-arrow.up-arrow {
    bottom: 10%; /* 確保上下箭頭不重疊 */
}
